#weatherSvg {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  flex-basis: 550px;
}

#weatherSvg, #weatherSvg svg {
  overflow: visible;
}

.line {
  fill: none;
  stroke-width: 3px;
}


.gridY {
  stroke-dasharray: 5;
  opacity: 0.25;
}
