footer {
  width: 100%;
  background-color: rgb(40, 40, 40);
  color: white;
}

footer > div {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer i {
  color: white;
}
footer a {
  display: flex;
  text-decoration: none;
}
